* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/images/back1.png);
    background-size: 100%;
    background-attachment: fixed;
}

.content-body {
    background-image:linear-gradient(#ffffff,#998989);
    background-size: 100%;
    margin: 50px;
    border-radius: 4px;
}

#profile-pic{
    height: 50%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    top: 10px;
    padding: 10px;
    margin: 20px;
}

 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #3a3a3a;
 }

 nav {
     position: sticky;
     text-align: center;
     top: 0;
     height: 35px;
     background-color: white;
     padding: 15px;
     margin: 20px 0;
     z-index: 99;
 }
 nav a {
    color: #3a3a3a;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px
 }

 nav a:hover {
     color:rgb(0, 0, 0)
 }

 .content-item {
     color: white;
     padding: 10px;
     margin: -20px;
 }

 .content-item h2 {
     background-color: rgb(49, 49, 49);
     color: white;
     text-align: center;
     text-transform: uppercase;
     position: relative;
     padding-top: 4em;
     height: 100px;
     margin: 30px 10px;
 }

ul, ol, table, p, .poem-content {
    /* background-image: url("/images/back1.png"); */
    color: black;
    padding: 30px;
    margin: 10px;
}

ol li a {
    color: rgb(59, 59, 59);
}

ol li a:hover {
    font-weight: bold;
}

table {
    border: solid 1px gray;
}

#odd-row {
    background-color: rgb(216, 216, 216);
}

#even-row {
    background-color: rgb(255, 255, 255);
}

footer {
    color: black;
    margin: 20px;
    text-align: center;
}