* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/images/back1.png);
    background-size: 100%;
    background-attachment: fixed;
}

.content-body {
    background-image:linear-gradient(#ffffff,#d6d4d4, #ffffff);
    background-size: 100%;
    margin: 50px;
    border-radius: 4px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
  }

  #modal img {
      margin-top: 70px;
      margin-left: 300px;
      width: 50%;
  }
  
  .close {
    color: #aaa;
    float: left;
    margin: 20px;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover {
    color: rgb(236, 236, 236);
    text-decoration: none;
    cursor: pointer;
  }

#profile-pic{
    height: 50%;
    min-height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    top: 10px;
    padding: 10px;
    margin: 20px;
}

 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #3a3a3a;
 }

 nav {
     position: sticky;
     text-align: center;
     top: 0;
     height: 35px;
     background-color: white;
     padding: 15px;
     margin: 20px 0;
 }
 nav a {
    color: #3a3a3a;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px
 }

 nav a:hover {
     color:rgb(0, 0, 0)
 }

 .content-item {
     color: white;
     padding: 10px;
     margin: -20px;
 }

 .content-item h2 {
     background-color: rgb(49, 49, 49);
     color: white;
     text-align: center;
     text-transform: uppercase;
     padding-top: 5em;
     height: 150px;
     margin: 30px 10px;
 }

ul, ol, table, p, .poem-content {
    color: black;
    padding: 20px 30px;
    margin: 10px;
}

ol li a {
    color: rgb(59, 59, 59);
}

ol li a:hover {
    font-weight: bold;
}

.poem-content {
    text-align: center;
}

table {
    border: solid 1px gray;
    background-color: rgb(49, 49, 49);
    color: white;
}

#odd-row {
    background-color: rgb(216, 216, 216);
}

#even-row {
    background-color: rgb(255, 255, 255);
}

footer {
    color: black;
    margin: 20px;
    text-align: center;
}

